.box {
  position: relative;
  align-items: center;
  text-align: center;
  padding: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: blueviolet;
  font-family: sans-serif;
}

button:hover, button:focus{
  background-color: cadetblue;
}
table {  
  position: relative; 
  left: 30%;  
  width: 40%;
  padding: 60px;
}

table thead th {
  font-family : Areial;
  font-style: bold; 
}

table tr td {
  font-family : Areial;
  font-style: italic; 
}

.Premium {
  color: red;
  font-family : Areial;
  text-align: center;
}

.Firstclass {
  color: orangered;
  font-family: Calibri;
  text-align: center;
}

.Secondclass {
  color : brown;
  font-family: Times New Roman;
  text-align: center;
}

